body {
  
  margin: 0px;
}

.t{
	background: #9402b5;
	width:500px;
}

.i{
	width: 500px;
	height: 200px;
}

img {
  display: none;
}

td {
  padding: 15px;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}