$background_color_1: #9402b5;

#logorodape {
	margin: 22px 0 0 0;
}
#centrinho {
	text-align: center;
	margin: 12px 0 0 0;
}
.chamada {
	text-align: center;
}
.surpresa {
	background-color: $background_color_1;
}
